<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>
		{{ this.params['title'] }}
		<small>{{ this.params['description'] }}</small>
	</h1>
	<ol class="breadcrumb">
		<li><a href="{{ url(['site/index']) }}"><i class="fa fa-dashboard"></i> Home</a></li>
		<li><a href="{{ url([ app.controller.id ~ '/index']) }}">{{ app.controller.id | title }}</a></li>
		<li class="active">{{ this.context.action.id }}</li>
	</ol>
</section>