<div class="box">

	{{ use('yii/widgets/ActiveForm') }}
	{% set form = active_form_begin() %}

	<div class="box-header">
      	<h3 class="box-title">Manage position</h3> 
      	<div class="pull-right">
  			<button type="submit" class="btn btn-success btn-flat"><i class="fa fa-save"></i> Save Position</button>
  			<a href="{{ url([ 'menu/index']) }}" class="btn btn-success btn-flat"><i class="fa fa-chevron-left"></i> Back to data</a>
      	</div>
    </div>
	<!-- /.box-header -->
	<div class="box-body">

		<ul id="sortable" class="list-unstyled">
			{% for list in lists %}
				<li class="ui-state-default" data-id="{{list.id }}"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>{{ list.name }}
					{{ form.field( list, '[' ~ list.id ~ ']position' ).hiddenInput().label(false) | raw }}
				</li>
			{% endfor %}
		</ul>

	</div>

	{{ active_form_end() }}

</div>
 
{% set js %}
	$( function() {
	    
	    $( "#sortable" ).sortable({
	        disabled: false,
	        axis: 'y',
	        forceHelperSize: true,
	        update: function (event, ui) {

	        	var item   = ui.item;
	            var Newpos = item.index();

	            item.find('input').val(Newpos);

				$( "#selector" ).sortable( "refresh" );

	        },
	        start: function (event, ui) 
	        {
	    	},
	    	stop: function (event, ui) 
	        {	
	        	var no = 0;
	        	$("#sortable li").each(function(idx, li){
	        		no = no + 1; 
	        		 $(this).find('input').val(no);
	        	})
	    	}
		});

	    $( "#sortable" ).disableSelection();

	} );
{% endset %}

{{ this.registerJs(js) }}

{{ this.registerJsFile('https://code.jquery.com/ui/1.12.1/jquery-ui.js', {
	'position': 3, 
	'depends': '\\yii\\web\\YiiAsset'}) }}

{{ this.registerCssFile( '//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css', {'position': 3}) }}
