<div class="box">
	

	{{ this.render('/partials/panel-header.twig') | raw }}
	
	<!-- /.box-header -->
	<div class="box-body">
		<div class="table-responsives">
		<table class="table table-striped table-bordered table-hover" id="dataTable1">
			<thead>
				<tr>
					<th>ID</th>
					<th>Role</th>
					<th>Username</th>
					<th>Fullname</th>
					<th>Status</th>
					<th width="10%">Action</th>
				</tr>
			</thead>
			<tbody>
				{% for list in lists %}
				<tr {{ this.contextualRow(list.row_status) }}>
					<td>{{ list.id }}</td>
					<td>{{ list.getRole() }}</td>
					<td>{{ list.username }}</td>
					<td><h4>{{ list.fullname }}</h4>
					 	<small>Email: &nbsp; {{ list.email }} &nbsp; / &nbsp; Position: &nbsp; {{list.position}} </small>
					</td>
					<td>{{ list.getStatus(list.row_status) }}</td>
					<td> 
						{{ this.getActionButtons( {
						'update': url( app.controller.id ~ '/update', { 'id': list.id }), 
						'delete': url( app.controller.id ~ '/delete', { 'id': list.id}) 
						}, this.params['user']['roleCode'] ) | raw }}</td>
				</tr>
				{% endfor %}
			</tbody>
			<tfoot>
				<tr>
					<th>ID</th>
					<th>Role</th>
					<th>Username</th>
					<th>Fullname</th>
					<th>Status</th>
					<th>Action</th>
				</tr>
			</tfoot>
		</table>
	</div>
	</div>
<!-- /.box-body -->
</div>