
{{ use('yii\helpers\Html') }}
{{ use('yii\widgets\Breadcrumbs') }}
{{ use('common\widgets\Alert') }}
{{ use('yii\helpers\Url') }}
{{ use('Yii') }}

{{ register_asset_bundle('backend/assets/AppAsset') }} 

{{ void(this.beginPage()) }}
<!DOCTYPE html>
<html lang="{{ app.language }}">

	<head>

	    <meta charset="{{ app.charset }}">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    {{ html.csrfMetaTags | raw }}
	    <title>{{ html.encode(this.title) }}</title>
	    {{ void(this.head) }}

	</head>

	<body class="hold-transition skin-blue sidebar-mini">

		<!-- Site wrapper -->
		<div class="wrapper">

			{{ this.render('/partials/side-header.twig') | raw }}
			{{ this.render('/partials/side.twig') | raw }}

			<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper">

				{{ this.render( '/partials/content-header.twig') | raw  }}

			    <!-- Main content -->
			    <section class="content"> 
			    	{{ this.render('/partials/alert.twig') | raw }}
			    	{{ content | raw }} 
			   	</section>
			    <!-- /.content -->
			</div>
			<!-- /.content-wrapper -->                                                                                 
			
			{{ this.render( '/partials/footer.twig' ) | raw }}
			{{ this.render( '/partials/side-control.twig' ) | raw }}

		</div>
		<!-- ./wrapper -->

	{{ void(this.endBody()) }}
	<script>

	</script>
	</body>
</html>
{{ void(this.endPage()) }}
