
{{ register_asset_bundle('backend/assets/AppAsset') }} 

{{ void(this.beginPage()) }}
{% spaceless %}
<!DOCTYPE html>
<html lang="{{ app.language }}">

	<head>

	    <meta charset="{{ app.charset }}">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    {{ html.csrfMetaTags | raw }}
	    <title>{{ html.encode(this.title) }}</title>
	    {{ void(this.head) }}

	</head>

	<body class="hold-transition skin-purple-light sidebar-mini">

		<!-- Site wrapper -->
		<div class="wrapper">

			{{ this.render('/partials/side-header.twig') | raw }}
			{{ this.render('/partials/side.twig') | raw }}

			<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper">

				{{ this.render( '/partials/content-header.twig') | raw  }}

			    <!-- Main content -->
			    <section class="content"> 
			    	{{ this.render('/partials/alert.twig') | raw }}
			    	{{ content | raw }} 
			   	</section>
			    <!-- /.content -->
			</div>
			<!-- /.content-wrapper -->                                                                                 
			
			{{ this.render( '/partials/footer.twig' ) | raw }}
			{{ this.render( '/partials/side-control.twig' ) | raw }}

			{{ this.render( '/partials/modals/popupImage.twig' ) | raw }}
			{{ this.render( '/partials/modals/confirmDelete.twig' ) | raw }}
			
		</div>
		<!-- ./wrapper -->
	{{ void(this.endBody()) }}
	<script>

	    $('#dataTableAjax').dataTable({
	        "sDom" : "<'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", //default layout without horizontal scroll(remove this setting to enable horizontal scroll for the table)
	        "iDisplayLength": 10,
	        "bProcessing": true,
	        "bServerSide": true,
	        "sAjaxSource": "{{ url([ app.controller.id ~ '/list-of-data']) }}",
	        // set the initial value
	        "oLanguage": {
	            "sProcessing": '<i class="fa fa-coffee"></i>&nbsp;Please wait...',
	            "sLengthMenu": "_MENU_ records",
	            "oPaginate": {
	                "sPrevious": "Prev",
	                "sNext": "Next"
	            }
	        },
	        "ordering": false
	    });
	</script>
	</body>
</html>
{% endspaceless %}
{{ void(this.endPage()) }}
