<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#mediaUploader__modal">
	Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="mediaUploader__modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="myModalLabel">Media Uploader
					<button class="btn btn-default btn-flat pull-right" data-toggle="modal" data-target="#uploadFile__modal">Add new</button>
				</h4>
				
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
					<form class="form-horizontal">
					  	<div class="form-group">
						    <div class="col-md-4">
						    	<select id="mediafile-media_folder_id" class="form-control" name="MediaFile[media_folder_id]" aria-required="true" aria-invalid="false">
						    		<option>All</option>
						    		<option value="20">Article</option><option value="26">Banner</option><option value="19">Picture</option></select>
							</div>
					  	</div>
					</form>
					</div>
				</div>
				<hr style="margin-top: 0">

				<!-- Render File Image -->
				<div class="row mb15">
					<div id="mediaFile__list">
	    			</div>
    			</div>
    			<div class="row">
	    			<div class="col-xs-2 col-xs-offset-5">
	    				<button class="btn btn-flat btn-default btn-block" id="mediaFile__loader" data-offset='4' >&nbsp; Load more &nbsp;</button>
	    			</div>
    			</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-flat btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-flat btn-primary">Set Image</button>
			</div>
		</div>
  	</div>
</div>


<!-- Modal -->
<div class="modal fade" id="uploadFile__modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  	<div class="modal-dialog" role="document">
    	<div class="modal-content">
	      	<div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">New File</h4>
	      	</div>
	      	<div class="modal-body">
		        <form id="w1" action="upload-file" method="post" enctype="multipart/form-data">
		        	<input name="_csrf-backend" value="{{ Html.csrfMetaTags }}" type="hidden">
		        	<div class="modal-body">
		        		<div class="form-group field-mediafile-media_folder_id required has-success">
		        			<label class="control-label" for="mediafile-media_folder_id">Folder</label>
		        			<select id="mediafile-media_folder_id" class="form-control" name="MediaFile[media_folder_id]" aria-required="true" aria-invalid="false">
		        				<option value="20">Article</option>
		        				<option value="26">Banner</option>
		        				<option value="19">Picture</option>
		        			</select>
		        			<p class="help-block help-block-error"></p>
		        		</div>
		        		<div class="form-group field-mediafile-name required">
		        			<label class="control-label" for="mediafile-name">File</label>
		        			<input name="MediaFile[name]" value="" type="hidden">
		        			<input id="mediafile-name" name="MediaFile[name]" aria-required="true" type="file">
		        			<p class="help-block help-block-error"></p>
		        		</div>
		        	</div>
		        	<div class="modal-footer">
		        		<button type="button" class="btn btn-flat btn-default" id="uploadFile__close" data-dismiss="modal">Close</button>
		        		<button type="submit" class="btn btn-flat btn-primary" id="uploadFile__save">Upload</button>
		        	</div>
		        </form>
	      	</div>
    	</div>
  	</div>
</div>

{% set js %}

$('#mediaUploader__modal').on('show.bs.modal', function (e) {

	$.ajax({
		url: "{{ url( ['media-uploader/ajax-get-files'] ) }}",
		success: function(response) {

			mediaUploader__render(response);
		}
	})

})

$('#uploadFile__close').on('click', function(){
	
	$('#uploadFile__modal').modal('hide');

});

$('#uploadFile__save').on('click', function() {


    $.ajax({
        // Your server script to process the upload
        url: "{{ url( ['media-uploader/ajax-upload-file'] ) }}",
        type: 'POST',

        // Form data
        data: new FormData($('#w1')[0]),

        // Tell jQuery not to process data or worry about content-type
        // You *must* include these options!
        cache: false,
        contentType: false,
        processData: false,
        success: function(data) {
        	if ( data.status == true )
        	{
        		$('#uploadFile__modal').modal('hide');
        	}
        }

    });
    
    return false;

});


$('#mediaFile__loader').on( 'click', function(){
	$(this).text('Loading...')
	$.ajax({
		url: "{{ url( ['media-uploader/ajax-get-files'] ) }}",
		data: { offset: $(this).attr('data-offset') },
		success: function(response) {

			$('#mediaFile__loader').attr('data-offset', response.offset);
			$('#mediaFile__loader').text('Load more')
			
			if ($('#mediaFile__loader').attr('data-offset') >= response.count) 
			{
				$('#mediaFile__loader').hide();
			}
		
			mediaUploader__render(response);
		},
		complete: function(data) {
		}
	})
});

$(document).on( 'click', '.btn-radio', function() {
    $('.btn-radio').not(this).removeClass('active')
		.siblings('input').prop('checked',false)
        .siblings('.img-radio').css('opacity','0.5');
	$(this).addClass('active')
        .siblings('input').prop('checked',true)
		.siblings('.img-radio').css('opacity','1');
})

function mediaUploader__render(response, type='append') 
{
	result = ''
	$.each( response.files, function(key, file) {
		result += '<div class="col-xs-6 col-md-3">' + 
	    				'<img src="' + file.directory + 'thumb_' + file.name + '" class="img-responsive img-radio btn-radio img-thumbnail">' + 
	    				'<input type="checkbox" class="hidden">' + 
	    			'</div>';

	})
	if ( type == 'append' )
		$('#mediaFile__list').append(result);
	else 
		$('#mediaFile__list').html(result);
}

{% endset %}
{{ this.registerJs(js) }}